app_atmConsultoria/node_modules
app_atmConsultoria/package-lock.json

app_frasesDoDia/node_modules
app_frasesDoDia/package-lock.json

app_jokenpo/node_modules
app_jokenpo/package-lock.json

app_listaDeProdutos/node_modules
app_listaDeProdutos/package-lock.json

app_caraCora/node_modules
app_caraCora/package-lock.json

app_calculadora/node_modules
app_calculadora/package-lock.json

app_firebase/node_modules
app_firebase/package-lock.json
